        {% block topnav %}
            <header class="row-fluid">
        <div class="well header">
            <h1>opesn</h1>
            <div class="navbar pull-right">
			    <div class="navbar-inner">
			    <ul class="nav">
			      <li><a href="/">Opensn</a></li>
			      <li><a href="/registration/index">Sign In/Sign Up</a></li>
			      <li><a href="#">Settings</a></li>

			    </ul>
				<form class="navbar-search">
				  <input type="text" class="search-query" placeholder="Search">
				</form>
			</div>
			</div>
        </div>

    </header>
        
        {% endblock %}

